<div class="panel panel-default">
  <div class="panel-heading">
    {{ plugin.title }}
  </div>
  <!-- /.panel-heading -->

  <div class="panel-body">
    <div id="mackeyboardlayoutchart" style="max-height: 250px;"></div>
  </div>

</div>

{% block script %}
<script type="text/javascript">
$(function() {
    Morris.Donut({
        element: 'mackeyboardlayoutchart',
        data: [
            {% for item in data %}
            {
                label: "{{ item.layout | escapejs }}",
                value: {{ item.count }}
            },
            {% endfor %}
        ],
        resize: true
    }).on('click', function(i, row){
        console.log(row['label']);
        var url_mask = "{% url 'machine_list' plugin 'abc123' group_type group_id %}".replace(/abc123/, row['label'].toString());
        window.location=url_mask;
    });
});
</script>
{% endblock %}
